.landing {
  /* background-image: url("./img/bg.jpg"),
    linear-gradient(to bottom, #e66465, #9198e5);
    background-size: cover; */
  background-image: url("img/bg.jpg");
  background-position: center;
  background-size: cover;
  scroll-snap-align: start;
}

.logo-holder {
  background-image: linear-gradient(
    to bottom,
    rgba(8, 64, 113, 0.85),
    rgba(8, 64, 113, 0.85)
  );
}

.logo {
    width: 35rem;
}